In [1]:
import pandas as pd
import numpy as np

import pymysql # for getting data from a SQL database
from sqlalchemy import create_engine # for establishin the connection and authentication

from getpass import getpass  # To get the password without showing the input

In [2]:
password = getpass()

········

##### Create connection with DB

In [3]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

##### 1. How many distinct (different) actors' last names are there?

In [4]:
# Create the query

query1 = '''SELECT COUNT(distinct(last_name)) AS number_of_actors
FROM sakila.actor;'''

# Create the dataframe
data1 = pd.read_sql_query(query1, engine)

# Show results
data1.head()

   number_of_actors
0               121

##### Add an additional column day_type with values 'weekend' and 'workday' depending on the rental day of the week.

In [5]:
query2 = '''SELECT *, MONTHNAME(convert(rental_date,DATE)) AS Month, DAYNAME(convert(rental_date,DATE)) AS Day,
CASE
WHEN DAYNAME(convert(rental_date,DATE)) = 'Monday' then 'Workday'
WHEN DAYNAME(convert(rental_date,DATE)) = 'Tuesday' then 'Workday'
WHEN DAYNAME(convert(rental_date,DATE)) = 'Wednesday' then 'Workday'
WHEN DAYNAME(convert(rental_date,DATE)) = 'Thursday' then 'Workday'
WHEN DAYNAME(convert(rental_date,DATE)) = 'Friday' then 'Workday'
WHEN DAYNAME(convert(rental_date,DATE)) = 'Saturday' then 'Weekend'
WHEN DAYNAME(convert(rental_date,DATE)) = 'Sunday' then 'Weekend'
ELSE 'No status'
END AS 'Day_type'
FROM sakila.rental;'''

data2 = pd.read_sql_query(query2, engine)

data2.head()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update,Month,Day,Day_type
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53,May,Tuesday,Workday
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53,May,Tuesday,Workday
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53,May,Tuesday,Workday
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53,May,Tuesday,Workday
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53,May,Tuesday,Workday

##### 3.Get all films with ARMAGEDDON in the title.

In [10]:
query3= '''SELECT COUNT(title)
FROM sakila.film 
WHERE FIND_IN_SET ('%ARMAGEDDON%', title);'''

data3 = pd.read_sql_query(query3, engine)
data3.head(60)

ValueError: unsupported format character 'A' (0x41) at index 59

###### 4.Get 10 the longest films.

In [7]:
query4 = '''SELECT title, length
FROM sakila.film
ORDER BY length DESC
LIMIT 10;'''

data4 = pd.read_sql_query(query4, engine)

data4.head(10)

                title  length
0      DARN FORRESTER     185
1        POND SEATTLE     185
2       CHICAGO NORTH     185
3       MUSCLE BRIGHT     185
4        WORST BANGER     185
5         GANGS PRIDE     185
6  SOLDIERS EVOLUTION     185
7           HOME PITY     185
8   SWEET BROTHERHOOD     185
9      CONTROL ANTHEM     185

##### 5.How many films include Behind the Scenes content?

In [8]:
query5 = engine.execute("SELECT count(*) FROM sakila.film WHERE special_features LIKE '%Behind the Scenes%'")
rows = []
for row in query5:
    rows.append(row)
    
data5 = pd.DataFrame(rows)

data5.head()

ValueError: unsupported format character 'B' (0x42) at index 63

##### Which kind of movies (rating) have a mean duration of more than two hours?

In [12]:
query6 = '''SELECT AVG(length) AS Length, rating
FROM sakila.film
GROUP BY rating
HAVING AVG(length)>120;'''

data6 = pd.read_sql_query(query6, engine)

data6.head()

     Length rating
0  120.4439  PG-13

##### 7. Rank films by length (filter out the rows that have nulls or 0s in length column). In your output, only select the columns title, length, and the rank.

In [11]:
query7 = engine.execute("SELECT DENSE_RANK() OVER(ORDER BY length DESC) as 'Rank', title, length FROM film WHERE length != 0 and length IS NOT NULL;")
rows7 = []
for row in query7:
    rows7.append(row)
data7 = pd.DataFrame(rows7)
data7.head()

   Rank           title  length
0     1   CHICAGO NORTH     185
1     1  CONTROL ANTHEM     185
2     1  DARN FORRESTER     185
3     1     GANGS PRIDE     185
4     1       HOME PITY     185